.list_with_heros{
    margin-top: 90px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #292727;
}

h3 {
    padding-top: 20px;
    text-align: center;
    color: #FFEE58!important;
}
li{
    color: rgb(158, 69, 0)
}
p {
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #dadada;
    font-size: 0.87em;
    line-height: 1.295em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
}



