.header{
    display: flex;
    justify-content: center;
}   


.header h1{
    text-align: center;
    color: #FFEE58!important;
    font-family: jedi-outline;
    font-size: 4em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
};

.list_of_items li{
    list-style: none;
}
.list_of_items{
    display: flex;
    justify-content:space-between;
    padding-top: 15px;
    padding-left: 10px;
}
