.hero_infos{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #292727;
    margin-top: 30px;
    background-image: url(https://images.unsplash.com/photo-1518331539918-7a2dbf839306?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80);
    background-size: cover;
}

h3 {
    padding-top: 10px;
    text-align: center;
    color: #FFEE58!important;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
}

h4{
    padding-left: 30px;
    color: #FFEE58!important;
    font-family: Helvetica, Arial, sans-serif;
}


li{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
p {
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
    color:  rgb(158, 69, 0);
    font-size: 0.87em;
    line-height: 1.295em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.info_list{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.pic_hero{
    width: 50%;
    height: 50%;
}
img{
    width: 260px;
}