#root{
    background-image: url(https://images.unsplash.com/photo-1583446689741-b39fa2703b22?ixlib=rb-1.2.1&auto=format&fit=crop&w=1596&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}