.hero_infos{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

.hero_infos:hover{
    border: 1px solid black;
    border-radius: 10px;

    margin-left: 10px;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1970&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-with-info{
    margin-top: 20px;
}

h3 {
    padding-top: 10px;
    text-align: center;
    color: #FFEE58!important;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
}

h4{
    padding-left: 30px;
    color: #FFEE58!important;
    font-family: Helvetica, Arial, sans-serif;
}

.info_list{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

li{
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}
.mass{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    color: #FFEE58!important;
}
.mass:hover{
    border: 1px solid red;
}

.skin{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    color: #FFEE58!important;
}
.skin:hover{
    border: 1px solid red;
}
.gender{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    color: #FFEE58!important;
}
.gender:hover{
    border: 1px solid red;
}

.pic_hero{
    padding-left: 30px;
    width: 30%;
    height: 30%;
}

