.App{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.toggle{
    padding: 14px 25px 14px 25px;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.7s;
}

.toggle:hover{
    background-image: url(); 
}



