.App{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.toggle{
    padding: 14px 25px 14px 25px;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.7s;
}

.toggle:hover{
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1970&q=80); 
}

.hero_information{
    display: flex;
    justify-content: space-between;
}

